<div>
  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <table>
    <tr><th>name</th><td><%= @user.name %></td></tr>
    <tr><th>introduction</th><td><%= @user.introduction %></td></tr>
  </table>
</div>

<p><%= link_to "人マーク", edit_user_path(@user) %></p>

<div>
  <h2>New book</h2>
</div>
