<div>
  <h2>Books</h2>
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <tr>
      <% @books.each do |book| %>
      <td><%= image_tag '' %></td>
      <!-- こんな感じのやつ image_tag post_image.user.get_profile_image(100, 100), class: "mt-3 rounded-circle"; %> -->
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <% end %>
    </tr>
  </table>
</div>